/* Hero */
.hero-outer {
    border-radius: var(--radius);
    background-image: url(../assets/home/desktop/image-hero-coffeepress.jpg);
    background-position: top;
    background-size: cover;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
}

.hero-inner {
    padding-block: 80px;
}

.hero-inner h1 {
    color: var(--cl-white);
    line-height: 1;
    margin-block-end: 1.5rem;
}

.hero-inner p {
    max-width: 45ch;
    color: var(--cl-white-secondary);
}

@media (min-width: 576px) and (max-width: 768px) {
    .hero-outer {
        background-image: url(../assets/home/tablet/image-hero-coffeepress.jpg);
    }
}
@media (max-width: 576px) {
    .hero-outer {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
            url(../assets/home/mobile/image-hero-coffeepress.jpg);
        background-position: top;
        background-size: 100%;
    }
}

/* Collection */
#collection {
    margin-top: calc(var(--section-spacing) + 75px);
}

#collection .row:has(.collection-item) {
    position: relative;

    &::after {
        content: "our collection";
        position: absolute;
        top: -10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 8vw;
        background: linear-gradient(to top, rgba(227, 0, 0, 0) 30%, var(--cl-grey) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
        width: 100%;
        text-align: center;
        z-index: -1;
        font-family: var(--ff-secondary);
        font-weight: 700;
    }
}

.collection-item {
    color: var(--cl-secondary);

    & img {
        transition: var(--transition);
    }

    &:hover img {
        transform: translateY(-5px);
    }
}

.collection-item h4 {
    text-wrap: nowrap;
}

@media (min-width: 576px) and (max-width: 768px) {
    .collection-item img {
        max-width: 200px;
    }
}
@media (max-width: 576px) {
    #collection .row:has(.collection-item)::after {
        top: -5%;
    }

    .collection-item img {
        max-width: 250px;
        align-self: center;
    }
}

/* Benefits */
#benefits h2 {
    color: var(--cl-white);
}

#benefits .container {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        inset: 0 0 175px 0;
        background-color: var(--cl-secondary);
        z-index: -1;
        border-radius: var(--radius);
    }
}

#benefits .heading-par {
    max-width: 65ch;
    margin-inline: auto;
    color: var(--cl-white-secondary);
}

.benefit {
    background-color: var(--cl-primary);
    border-radius: var(--radius);
    padding-inline: 2rem;
    padding-block: 4rem;
    height: 365px;
}

.benefit img {
    max-width: 70px;
}

.benefit h4 {
    color: var(--cl-white);
    margin-block-end: 1.25rem;
}

.benefit p {
    color: var(--cl-white-secondary);
}

@media (max-width: 992px) {
    .benefit {
        height: auto;
    }

    #benefits .container::after {
        bottom: 300px;
    }
}

@media (max-width: 576px) {
    #benefits .container::after {
        bottom: 470px;
    }
}

/* How it works */
#how-it-works h2 {
    font-size: var(--fs-4);
    color: var(--cl-grey);
}

.row:has(.bullet) {
    position: relative;

    &::before {
        --h: 2px;

        content: "";
        position: absolute;
        left: 5%;
        right: 33%;
        top: calc((100% - var(--h)) / 2);
        height: var(--h);
        background-color: var(--cl-tertiary);
        z-index: -1;
    }
}

.bullet {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--cl-primary);
    background-color: var(--cl-white);
}

#how-it-works .number {
    color: var(--cl-tertiary);
    font-size: var(--fs-1);
    font-family: var(--ff-secondary);
    font-weight: 900;
    font-size: 72px !important;
}

#how-it-works h3 {
    max-width: 9ch;
}
