@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --cl-primary: #0e8784;
    --cl-primary-hover: #66d2cf;
    --cl-primary-disabled: #e2dedb;
    --cl-secondary: #333d4b;
    --cl-tertiary: #fdd6ba;
    --cl-white: #ffffff;
    --cl-white-secondary: #fefcf7cc;
    --cl-black: #323232;
    --cl-grey: #83888f;
    --cl-bg-cream: #fefcf7;

    --ff-primary: "Barlow", sans-serif;
    --ff-secondary: "Fraunces", serif;

    --fs-xxl: 150px;
    --fs-1: 72px;
    --fs-2: 40px;
    --fs-3: 32px;
    --fs-4: 24px;
    --fs-main: 16px;
    --fs-xs: 13px;

    --radius: 10px;
    --transition: 0.2s ease-out;
}

@media (max-width: 768px) {
    :root {
        --fs-1: 48px;
        --fs-main: 15px;
    }
}

@media (max-width: 576px) {
    :root {
        --fs-1: 40px;
    }
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-main);
}

header,
footer,
section {
    padding-inline: 1rem;
}

h1,
h2,
h3,
h4 {
    font-family: var(--ff-secondary);
    font-weight: 900;
}

h1 {
    font-size: var(--fs-1);
    max-width: 11ch;
}

h2 {
    font-size: var(--fs-2);
}

h3 {
    font-size: var(--fs-3);
}

h4 {
    font-size: var(--fs-4);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1280px;
}

.cta {
    font-family: var(--ff-secondary);
    font-weight: 900;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    transition: var(--transition);
}

.cta-primary {
    background-color: var(--cl-primary);
    color: var(--cl-white);

    &:hover {
        background-color: var(--cl-primary-hover);
    }
}

/* Header */
header nav a,
footer nav a {
    font-size: var(--fs-xs);
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: var(--cl-grey);
    letter-spacing: 1px;
    transition: var(--transition);
}

header nav a:hover {
    color: var(--cl-black);
}

#mm-open-menu {
    width: 30px;
    aspect-ratio: 1;
    background-image: url(../assets/shared/mobile/icon-hamburger.svg);
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}
